<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
</section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">
    <h1>Gestão de vendas</h1>
    <p>Seja bem vindo =)</p>
    <a class="btn btn-success btn-lg" [routerLink]="['vendas']">
      <i class="fa fa-dollar"></i>
      <span>Vendas</span>
    </a>
    <a class="btn btn-primary btn-lg" [routerLink]="['vendedores']">
      <i class="fa fa-user-circle"></i>
      <span>Vendedores</span>
    </a>
  </div>

</section>
<!-- FIM DO CONTEÚDO -->
